

.p-shortcut {
	padding: 25px 30px 30px;
}

.p-shortcut > input {
	margin: 21px 0 0;
}
.p-shortcut-wrongShortcut {
	display: none;
	margin: 5px 0 0;
	font-size: 90%;
	font-weight: bold;
}
.p-shortcut-wrongShortcut[visible=true] {
	display: block;
}
.p-shortcut-submit {
	margin: 20px 0 0;
}
