<div class="nH" id="cleanfox" style="border-bottom: 1px solid #d8d8d8;">
    {{#more}}
    <div>
        <div class="anr anL an0" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
            {{#count}}
            {{#debug}}
            <!--<div style="margin: 5px 0;">-->
                <!--<div data-tooltip="{{ratingText}}" style="cursor: pointer; width: 90px; vertical-align: bottom; height: 18px; background: linear-gradient(90deg, #4a842d {{rating}}%, #ffffff {{rating}}%);">-->
                    <!--<img style="width: 100%; height: 100%;" src="{{starPicture}}" />-->
                <!--</div>-->
            <!--</div>-->
            {{/debug}}

            {{#email.min}}
            <div style="font-size: 12.8px; font-weight:bold; margin: 5px 0;" data-tooltip="{{email.full}}">{{email.min}}</div>
            {{/email.min}}
            {{^email.min}}
            <div style="font-size: 12.8px; font-weight:bold; margin: 5px 0;">{{email.full}}</div>
            {{/email.min}}

            <div style="margin: 5px 0;">
                <span style="font-size: 12.8px;">{{count}}</span> | <span style="font-size: 12.8px;">{{co2}}</span>
            </div>

            <div class="{{color}}" style="font-size:12.8px; font-weight:bold; margin-top: 5.8px;">{{rate}}</div>

            <div style="margin-top: 9px">
                <div class="{{email.full}} cleanfox_icon cleanfox_unsubscribe" data-tooltip="{{unsubscribe}}"></div>
                <div class="{{email.full}} cleanfox_icon cleanfox_delete" data-tooltip="{{delete}}"></div>
                <div class="{{email.full}} cleanfox_icon cleanfox_filter" data-tooltip="{{filter}}"></div>
            </div>
            {{/count}}
            {{^count}}

            {{#email.min}}
            <div style="font-size: 12.8px; font-weight:bold; margin: 5px 0;" data-tooltip="{{email.full}}">{{email.min}}</div>
            {{/email.min}}
            {{^email.min}}
            <div style="font-size: 12.8px; font-weight:bold; margin: 5px 0;">{{email.full}}</div>
            {{/email.min}}

            <div style="margin: 5px 0;">
                <span style="font-size: 12.8px;">{{noStats}}</span>
            </div>
            {{/count}}
        </div>
        <div style="width: 50%; margin: auto; padding-bottom: 6px; border-bottom: 1px solid #d8d8d8;"></div>
    </div>
    {{/more}}
    {{#data}}
    <div>
        <div class="anr anL an0" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
            {{#count}}

            {{#debug}}
            <!--<div style="margin: 5px 0;">-->
                <!--<div data-tooltip="{{ratingText}}" style="cursor: pointer; width: 90px; vertical-align: bottom; height: 18px; background: linear-gradient(90deg, #4a842d {{rating}}%, #ffffff {{rating}}%);">-->
                    <!--<img style="width: 100%; height: 100%;" src="{{starPicture}}" />-->
                <!--</div>-->
            <!--</div>-->
            {{/debug}}

            {{#email.min}}
            <div style="font-size: 12.8px; font-weight:bold; margin: 5px 0;" data-tooltip="{{email.full}}">{{email.min}}</div>
            {{/email.min}}
            {{^email.min}}
            <div style="font-size: 12.8px; font-weight:bold; margin: 5px 0;">{{email.full}}</div>
            {{/email.min}}

            <div style="margin: 5px 0;">
                <span style="font-size: 12.8px;">{{count}}</span> | <span style="font-size: 12.8px;">{{co2}}</span>
            </div>

            <div class="{{color}}" style="font-size:12.8px; font-weight:bold; margin-top: 5.8px;">{{rate}}</div>

            <div style="margin-top: 9px; margin-bottom: 8px;">
                <div class="{{email.full}} cleanfox_icon cleanfox_unsubscribe" data-tooltip="{{unsubscribe}}"></div>
                <div class="{{email.full}} cleanfox_icon cleanfox_delete" data-tooltip="{{delete}}"></div>
                <div class="{{email.full}} cleanfox_icon cleanfox_filter" data-tooltip="{{filter}}"></div>
            </div>
            {{/count}}
            {{^count}}

            {{#email.min}}
            <div style="font-size: 12.8px; font-weight:bold; margin: 5px 0;" data-tooltip="{{email.full}}">{{email.min}}</div>
            {{/email.min}}
            {{^email.min}}
            <div style="font-size: 12.8px; font-weight:bold; margin: 5px 0;">{{email.full}}</div>
            {{/email.min}}

            <div style="margin: 5px 0;">
                <span style="font-size: 12.8px;">{{noStats}}</span>
            </div>
            {{/count}}

            <a href="{{url}}" style="float: right; margin-top: -8px;" target="_blank">
                <div class="cleanfox_logo" data-tooltip="{{cleanfox}}"></div>
            </a>

            <span style="font-size: 10px; color: gray;">
                <a href="{{helpUrl}}" style="text-decoration: none; color: gray;">{{help}}</a> | <a href="{{feedbackUrl}}" style="text-decoration: none; color: gray;">{{feedback}}</a>
            </span>
        </div>
    </div>
    {{/data}}
</div>
