<div class="nH" id="cleanfox" style="padding-bottom: 6px; border-bottom: 1px solid #d8d8d8">
    <div class="anr anL an0">
        <div style="width: 100%; text-align: center; margin-top: 10px; margin-bottom: 10px;">
            <img src="{{picture}}" />
            <div style="font-size: 12.8px; margin-top: 12px;">{{{needConnection}}}</div>
            <div id="cleanfox_signin" class="cleanfox_btn" style="margin-top: 20px;">
                <span id="cleanfox_signin_text">{{signIn}}</span>
            </div>
        </div>
    </div>
</div>
