<div>
    <h3>{{title}}</h3>
    <ul class="section-item-list" style="margin-top: 10px">
        {{#accounts}}
        <li>
            <span class="username-field" style="display: inline;">
                {{email}}
            </span>
            <span class="logout-link-wrapper" style="display: inline;">
                (<a class="{{email}} logout-link" href="#">{{logout}}</a> {{or}} <a class="{{email}} delete-link" href="#">{{delete}}</a>)
            </span>
        </li>
        {{/accounts}}
        <li>
            <span id="login-link-wrapper" style="display: inline;">
                <a id="login-link" href="#">{{login}}</a>
            </span>
        </li>
    </ul>
    <div class="clear"></div>
</div>
